

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 656px;
    
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 100px;
    overflow: hidden;
  }

  @media (max-width: 767px) {
    .header {
      height: auto;
      min-height: 300px;
      max-height: 1000px;
      margin-left: 6px;
      margin-bottom: 50px;
    }
  }
  