.cards__item {
    display: grid;
    grid-template-areas:
        "image title"
        "image text";
    grid-column-gap: 40px;
    padding-bottom: 20px;
    max-width: 1200px;
    margin-left: 50px;
  }

  @media (max-width: 767px) {
    .cards__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       margin-left: 30px;
       padding-bottom: 40px;
      
          }

}
  