.cards__title {
  min-width: 350px;
  display: flex;
  align-items: flex-end;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.15;
    grid-area: title;
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    .cards__title {
      font-size: 20px;
    font-weight: bold;
    line-height: 1.15;
    }
  }