.two-columns__main-text {
    max-width: 80%;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    .two-columns__main-text {
      list-style-type: none;
      padding: 0;
      max-width: 100%;
    }
  }