.header__title {
    max-width: 730px;
  
    width:100%;
    line-height: 96px;
    margin: 100px auto 0 64px;
    font-size: 82px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: inline-block;
    z-index: 3;
  }

  @media (max-width: 767px) {
    .header__title {
      width:100%;
      min-width: 350px;
      position: inherit;
      line-height: 62px;
      font-size: 48px;
      margin: 100px auto 50px;
    
    }
  }